.button {
  @include flex-center(true);

  column-gap: 4px;
  padding: fluid(18, 14, true) fluid(24, 20, true);
  font-weight: 600;
  color: var(--color-white);
  background-color: var(--color-red-45);
  border: none;
  border-radius: var(--border-radius-s);
  user-select: none;
  cursor: pointer;

  @include laptop {
    border-radius: var(--border-radius-xs);
  }

  @include hover {
    color: var(--color-white);
    background-color: var(--color-red-60);
  }

  &:active {
    scale: 1.05;
  }

  &:disabled {
    color: var(--color-gray-60);
    background-color: var(--color-black-06);
    pointer-events: none;
  }

  &:has(.button__icon:only-child) {
    @include square(fluid(56, 44, true));

    padding: 0;
  }

  &--transparent {
    background-color: transparent;

    &:has(.button__icon:only-child) {
      @include square(44px);

      .button__icon {
        --iconSize: #{fluid(34, 24, true)};
      }
    }
  }

  &--black-10 {
    background-color: var(--color-black-10);
    border: var(--border);
  }
}