.slider-navigation {
  display: flex;
  align-items: center;

  &--tile{
    column-gap: fluid(16, 12, true);
    padding: fluid(16, 12, true);
    background-color: var(--color-black-06);
    border: var(--border);
    border-radius: var(--border-radius-l);

    @include laptop {
      border-radius: var(--border-radius-m);
    }
  }
}