.slider-navigation {
  display: flex;
  align-items: center;

  &--tile{
    column-gap: fluid(16, 12, true);
    padding: fluid(16, 12, true);
    background-color: var(--color-black-06);
    border: var(--border);
    border-radius: var(--border-radius-l);

    @include laptop {
      border-radius: var(--border-radius-m);
    }
  }

  &__pagination {
    display: flex;
    column-gap: 3px;

    &-bullet {
      width: 16px;
      height: 4px;
      background-color: var(--color-black-20);
      border-radius: 100px;
      transition: var(--transition-speed-02);

      &.is-active {
        width: 23px;
        background-color: var(--color-red-45);
      }
    }
  }
}