.accordion {
  width: 100%;

  &__details {

  }

  &__summary {
    list-style: none;
    cursor: pointer;
    user-select: none;

    &::-webkit-details-marker {
      display: none;
    }
  }

  &__title {
    position: relative;

    &::before,
    &::after {
      @include abs-y;

      content: '';
      right: 0;
      width: fluid-to-laptop(20, 16);
      height: 2.5px;
      background-color: var(--color-white);
      border-radius: 10px;
      transition-duration: var(--transition-duration);

      @include laptop {
        height: 2px;
      }
    }

    &::after {
      rotate: 90deg;
    }
  }
}